{% extends "main.html" %}
{% load static %}
{% block first %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'homepage/images/casio.jpg' %}" class="d-block w-100" alt="Casio Watch">
    </div>
    <div class="carousel-item">
      <img src="{% static 'homepage/images/automatic.jpg' %}" class="d-block w-100" alt="Automatic Watch">
    </div>
    <div class="carousel-item">
      <img src="{% static 'homepage/images/curren.jpg' %}" class="d-block w-100" alt="Curren Watch">
    </div>
    <div class="carousel-item">
      <img src="{% static 'homepage/images/edifice_casio.jpg' %}" class="d-block w-100" alt="Edifice Casio Watch">
    </div>
    <div class="carousel-item">
      <img src="{% static 'homepage/images/emporio_armani.jpg' %}" class="d-block w-100" alt="Emporio Armani Watch">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div style="background-color: blanchedalmond; width: 100%; text-align: center; height: 30px; margin: 10px;">
  <h3>WE ARE PROVIDING 50% OFF ON ALL OUR PRODUCTS</h3>
</div>

<!-- Footer -->
<div style="background-color: aqua; width: 100%; text-align: center; height: 50px; margin: 10px;">
  <h6>Footer section</h6>
</div>

{% endblock %}

{% block second %}
<H4>All The Watch That You Want Make A Choice</H4>
<div class="scrollable-container">
  <div class="content">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\casio.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CASIO</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\automatic.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">AUTOMATIC</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\curren.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CURREN</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\edifice_casio.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">EDIFICE Casio</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\emporio_armani.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">EMPORIO ARMANI</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\citizen.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CITIZEN</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\fossil.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">FOSSIL</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\michael_kors.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MICHAEL KORS</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\pocket_watch1.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">POCKET WATCH 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\pocket_watch2.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">POCKET WATCH 2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\pocket_watch3.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">POCKET WATCH 3</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\polex.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">POLEX</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\rider.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">RIDER</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\rolex.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ROLEX</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\romanson.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ROMANSON</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'homepage\images\tudor.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TUDOR</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
</div>
</div>
<div class="row">

  {% for w_item in watches_t %}
  <div class="col"></div>
      <div class="card" style="width: 18rem">
          <img class="card-img-top" src="{{ w_item.image.url }}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{w_item.name}}</h5>
            <p class="card-text">
              {{w_item.description}}
            </p>
            <p class="card-text">
              {{w_item.price}}
            </p>
            <a href="{% url 'product' id=w_item.id %}" class="btn btn-primary">View Product</a>
            <a href="{% url 'add_wishlist' id=w_item.id %}" class="btn btn-primary">+ Wishlist</a><br><br>
            <a href="{% url 'add_cart' id=w_item.id %}" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        {% endfor %}
  </div>






</div>
{% endblock %}