<nav class="navbar navbar-expand-lg bg-secondary" style="background-color: #ad8648;">
  <a class="navbar-brand" href="#">Bankapp</a>
  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'upload' %}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
        </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li>
      </ul>

      <!-- Aligns items to the right -->
      <form action="{% url 'search_watch' %}" method="get">
        <input type="text" name="q" placeholder="Search watches...">
        <button type="submit">Search</button>
    </form>
    

      {% if user.is_authenticated %}
          <span class="navbar-text ms-3">Welcome, {{ user.username }}</span>
          <a class="nav-link ms-3" href="{% url 'logout' %}">Logout</a>
      {% else %}
          <a class="nav-link ms-3" href="{% url 'login' %}">Login</a>
      {% endif %}
  </div>
</nav>